.promote-modal {
    top: 50%;
    left: 50%;

    position: fixed;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    background-color: #a4aa5e;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.promote-modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.promote-modal-button {
    width: 50px;
    height: 50px;
    padding: 10px ;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

img {
    height: 100%;
}