.piece {
    cursor: grab;
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_draggable:active {
        cursor: grabbing;
        opacity: 0.9;
    }

    
}