.container {
    overflow: hidden;
    box-sizing: border-box;

    padding: clamp(8px, 2%, 24px);
    margin-top: 120px;
    outline: 1px solid #9C9393;
    border-radius: 12px;
    background-color: #181818;
}