.container {
    overflow: hidden;
    padding: 20px;
    border: 1px solid #FFFFFF08;
    border-radius: 12px;
    background: linear-gradient(160.71deg, 
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01) 100%
    );
}